body {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 69px;
  text-align: center;
  margin: 19px 0;
}

nav ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25.78px;
  text-align: center;
  display: inline;
}

nav li {
  padding: 10px 26px;
}

header a {
  text-decoration: none;
  color: #000000;
}

header a:hover {
  text-decoration: underline;
  text-decoration-color: #7b61ff;
}

/* Media queries */

@media screen and (min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
  }

  header h1 {
    margin-left: 45px;
  }

  header h1 a:hover {
    text-decoration: none;
  }

  nav ul {
    margin-right: 70px;
  }
}
